
* {
  box-sizing: border-box;
}

#box {
  background-color: white;
  width: 90%;
  height: 300px;
  margin-top: 50px;	
}

p {
  width: 33%;
	background-color: #808080;
  border: 11px solid white;
  float: left;
  padding: 50px;
}

#p1 {
  /*background-color: #d3d3d3;*/
}
#p2 {
    /*background-color: #d3d3d3;*/
}
#p3 {
	/*background-color: #d3d3d3;*/

}

section {
  clear: right;
}
